*.bak
*.key*
*.log
.owner
credentials.xml
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
jobs/*/builds
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
logs/
nodeMonitors.xml
plugins/
secrets/
updates/
userContent/
users/
workspace/
